# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Log files
*.log

# Compiled files
*.egg-info/
dist/
build/